.main{
    max-width: 50%;
    max-height: 80%;
    background-image: url(assets/fotoadn.png);
    background-repeat: no-repeat;
    background-size: 500px;
    display: flex;
    align-items: flex-end;
}

.main img{
    max-width: 70px;
    padding-top: 70px;
    text-align: center;
}

.subMain{
    background-image: url(assets/fotoadn.png);
    background-repeat: no-repeat;
    background-size: 500px;
}

.imagenes{
    display: grid;
    grid-template-columns: repeat(2, 120px);
    grid-gap: 5px;
    padding-left: 150px;
    cursor: move;
}

.ima.over{
    border: 3px dotted #666;
}

